@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200');
html, body {
  margin: 0;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
}

* {
  box-sizing: border-box;
  text-align: center;
}

.main {
  color: red;
}
